
.bg{
    height: 100%;

}
.container{
    margin-top: 7.5em;
    padding: 1em;
    width: 85%;
    min-height: 720px;
    background-image: linear-gradient(TO RIGHT,rgba(149, 165, 166,0.3), rgba(236, 240, 241,0.2),rgba(189, 195, 199,0.3));
    box-shadow: -2px -2px #5e5858;

}

.paragraph{ 
    width: 95%;
    margin-top: .25em;
    font-family: 'Dosis', sans-serif;

}

.paragraph::after{
    display: block;
    content: '';
    width: 100%;
    height: 0.25em;
    margin-top: 1em;
}
.paragraph-h1{
    text-align: center;
    font-size: 4.5em;
    color: var(--headling-color);
    letter-spacing: 3.3px;
}

.paragraph-h2{
    font-size: 3em;
    color: var(--headling-color);
}

.paragraph-h3{
    font-size: 2.35em;
    color: var(--headling-color);
}

.paragraph-h4{
    font-size: 1.765em;
    color: var(--headling-color);
}

.paragraph-content{
    color: var(--content-color);
    margin-top: 0.5em;
    font-family: monospace;
    font-size: 1.2em;
    text-align: justify;
}

.paragraph-image{
    position: relative;
    margin-top: 0.5em;
    max-width: 75%;
}

.paragraph-image img{
    width: 100%;
}

.paragraph-image p{
    margin-top: 0.25em;
    width: 100%;
    color: var(--content-color);
    font-size: 1.5em;
    text-align: center;
}

@media (min-width: 901px)
{
    .mobile-display{
        display: none;
    }
}

@media (max-width: 900px)
{
    .container{
        width: 95%;
    }

    .paragraph-image{
        max-width: 100%;
    }

    .paragraph-h2,
    .paragraph-h3,
    .paragraph-h4{
        text-align: center;
    }

    .paragraph-h2{
        font-size: 2.2em;
    }

    .paragraph-h3{
        font-size: 1.8em;
     
    }

    .paragraph-h3 a{
        color:aquamarine;
    }
    .paragraph-h4{
        font-size: 1.4em;
    }
    .paragraph-image p{
        font-size: 1em;
        font-weight: bold;
    }

    
}